sudo: false
language: generic

matrix:
    include:

        - os: linux
          env: PYTHON_VERSION=3.7 NUMPY_VERSION=1.16 BUILD_DOCS=true

        # Linux, Python 2.7
        - os: linux
          env: PYTHON_VERSION=2.7 NUMPY_VERSION=1.14

        # Linux, Python 3.6
        - os: linux
          env: PYTHON_VERSION=3.6 NUMPY_VERSION=1.15
        - os: linux
          env: PYTHON_VERSION=3.6 NUMPY_VERSION=1.16

addons:
    apt:
        packages:
            - gfortran


install:
    # FSPS
    - git clone https://github.com/cconroy20/fsps libfsps
    - cd libfsps/src
    - cp ../../.travis.Makefile Makefile
    - make all
    - cd ../..
    - export SPS_HOME=`pwd`/libfsps

    # Python
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH=$HOME/miniconda/bin:$PATH
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    - conda create --yes -n test python=$PYTHON_VERSION numpy==$NUMPY_VERSION pytest pip
    - source activate test

    # Python FSPS
    - python setup.py develop

before_script: |
    if [[ "$BUILD_DOCS" = "true" && "$TRAVIS_BRANCH" = "master" && -n "$GITHUB_API_KEY" ]]
    then
      export VERSION=`python -c "import fsps;print(fsps.__version__)"`
      echo $VERSION
      python -m pip install -U sphinx
      cd docs
      make dirhtml
      git clone --branch=gh-pages --depth=50 https://github.com/dfm/python-fsps.git _output
      cd _output
      rm -rf $VERSION
      mkdir -p $VERSION
      cp -r ../_build/dirhtml/* $VERSION/
      git add $VERSION
      git -c user.name='travis' -c user.email='travis' commit -m "Updated docs for version $VERSION [ci skip]"
      git push -q -f https://$GITHUB_USER:$GITHUB_API_KEY@github.com/dfm/python-fsps.git gh-pages
    fi

script:
    - travis_wait 35 py.test -v fsps/tests.py
