name: Update FSPS
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"

jobs:
  update_fsps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Update the submodule
        run: git submodule foreach git pull origin master

      - name: Create a PR
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Updating FSPS
          branch: update-fsps
          delete-branch: true
          title: Updating FSPS
          body: |
            Automatically updating the FSPS submodule

            **Maintainers should close and then re-open this PR to get the tests to run.**
